body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wj-control.wj-content.wj-dropdown, .wj-control.wj-content.wj-inputnumber, .wj-control.wj-content.wj-inputmask {
  color: hsl(0, 0%, 80%);
  background: hsl(0, 0%, 33%);
}

.wj-control .wj-input-group .wj-input-group-btn:last-child:not(:first-child)>.wj-btn, .wj-viewer .wj-control .wj-input-group .wj-input-group-btn:last-child:not(:first-child)>.wj-applybutton {
  color: hsl(0, 0%, 80%);
}

.wj-control .wj-input-group .wj-form-control {
  color: hsl(0, 0%, 80%);
  background: hsl(0, 0%, 33%);
  width: 100% !important;
}

.wj-listbox .wj-listbox-item {
  color: hsl(0, 0%, 80%);
  background: hsl(0, 0%, 33%);
}

.wj-listbox .wj-listbox-item:hover {
  background: hsl(0, 0%, 27%) !important;
  cursor: pointer;
}

.wj-listbox-item.wj-state-selected {
  background: hsl(0, 0%, 27%);
}

.wj-control .wj-btn:hover {
  background: hsl(0, 0%, 45%);
}